<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <ejb-local-ref>
        <ejb-ref-name>OrderLineItemSessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.OrderLineItemSessionBeanLocal</local>
        <ejb-link>KwonEcommerce-ejb.jar#OrderLineItemSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>BrandEntitySessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.BrandEntitySessionBeanLocal</local>
        <ejb-link>KwonEcommerce-ejb.jar#BrandEntitySessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>OrderLineItemSessionBeanLocal1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.OrderLineItemSessionBeanLocal</local>
        <ejb-link>KwonEcommerce-ejb.jar#OrderLineItemSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CustomerSessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.CustomerSessionBeanLocal</local>
        <ejb-link>KwonEcommerce-ejb.jar#CustomerSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CategoryEntitySessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.CategoryEntitySessionBeanLocal</local>
        <ejb-link>KwonEcommerce-ejb.jar#CategoryEntitySessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>TagEntitySessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.TagEntitySessionBeanLocal</local>
        <ejb-link>KwonEcommerce-ejb.jar#TagEntitySessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>OrderTransactionSessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.OrderTransactionSessionBeanLocal</local>
        <ejb-link>KwonEcommerce-ejb.jar#OrderTransactionSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CustomerSessionBeanLocal1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.CustomerSessionBeanLocal</local>
        <ejb-link>KwonEcommerce-ejb.jar#CustomerSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CustomerSessionBeanLocal2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.CustomerSessionBeanLocal</local>
        <ejb-link>KwonEcommerce-ejb.jar#CustomerSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CustomerSessionBeanLocal3</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.CustomerSessionBeanLocal</local>
        <ejb-link>KwonEcommerce-ejb.jar#CustomerSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CustomerSessionBeanLocal4</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.CustomerSessionBeanLocal</local>
        <ejb-link>KwonEcommerce-ejb.jar#CustomerSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>OrderTransactionSessionBeanLocal1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.OrderTransactionSessionBeanLocal</local>
        <ejb-link>KwonEcommerce-ejb.jar#OrderTransactionSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CustomerSessionBeanLocal5</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.CustomerSessionBeanLocal</local>
        <ejb-link>KwonEcommerce-ejb.jar#CustomerSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CustomerSessionBeanLocal6</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.CustomerSessionBeanLocal</local>
        <ejb-link>KwonEcommerce-ejb.jar#CustomerSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CreditCardSessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.CreditCardSessionBeanLocal</local>
        <ejb-link>KwonEcommerce-ejb.jar#CreditCardSessionBean</ejb-link>
    </ejb-local-ref>
</web-app>
